:root {
  --darkBG: #222831;
  --blueLt: #2d4059;
  --accentPr: #ff5722;
  --accentSec: #f6c90e;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: var(--darkBG);
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 150ch;
  padding: 1rem;
  line-height: 1.5;
}

/* Scroll */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll */
header nav {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
  background-color: var(--accentPr);
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--darkBG);
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  /* background-color: var(--accentSec); */
  color: var(--accentPr);
}

a.blog-link {
  display: block;
  padding: 8px 6px;
  text-decoration: none;
  color: var(--accentSec);
}

ul.blog-links {
  padding: 0px;
  margin: 0px;
}

li.blog-link {
  list-style: none;
}

a.blog-link:hover {
  color: var(--accentPr);
}

.expanded {
  display: unset;
}

main {
  padding: 1rem 2rem;
}

pre {
  padding: 8px;
  border-radius: 8px;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: ; */
    display: block;
    position: static;
    width: auto;
    background: none;
    border-bottom: 2px solid var(--accentPr);
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}
