---
import BaseLayout from 'layouts/BaseLayout.astro';
import Greeting from 'components/Greeting';
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>

  <div>
  <h1 class='text-5xl'>
  Ooops!</h1>

  <h3 class='text-2xl'>
  couldn't find what you are looking for :(
  </h3>

  <h1 class='text-center'>404</h1>
  </div>

  </BaseLayout>