---
import BaseLayout from 'layouts/BaseLayout.astro';
import Greeting from 'components/Greeting';
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>

  <div>
  <h1 class='text-5xl'>
loading
  </div>

  </BaseLayout>