--- 
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
  background-color: var(--accentPr);
}
@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
}
</style>