---
import Hamburger from 'components/Hamburger.astro';
import Navigation from 'components/Navigation.astro';
import ThemeIcon from 'components/ThemeIcon.astro';
---
<div>
 <nav class='border-b-2 border-accentSec flex flex-row justify-between p-4'>
   <Navigation />
   <ThemeIcon />
   <!-- <Hamburger /> -->
 </nav>
</div>

<style>

</style>